* {
    padding: 0;
    margin: 0;
}

.home{
  background: #FFF9C7;
}

/* CODE IN-PART PROVIDED BY GREATSTACK @YOUTUBE */

div.mid-container{
  grid-column: 2/4;
  }

.accordion{
  margin: 0 auto;
  width: 600px;
  height: auto;
}

.accordion li{
  list-style: none;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background: #415B34;
  color: #FFF9C7;
  font-family: "Libre Franklin";
  font-size: 16px;
}

.accordion li label{
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

label::before {
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="radio"]{
  display: none;
}

.accordion .content{
  color: #415B34;
  background-color: #FFF9C7;
  padding: 0px 10px;
  line-height: 26px;
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms, padding 500ms;
}

.accordion input[type="radio"]:checked + label + .content{
  max-height: 400px;
  padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::before{
  content: '-';
}

/* END OF CODE BY GREATSTACK @YOUTUBE */

/* CODE BY NTGCLEANER @STACK OVERFLOW*/

div#bg-img {
  background-color: #405B34;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -1;
}

img.landing-img {
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  min-height: 100%;
  min-width: 100%;
}

/* END OF CODE BY NTGCLEANER @STACK OVERFLOW*/

.landing-header{
  font-family: "Londrina Outline";
  font-size: 120px;
  color: #F7F1D2;
  text-align: center;
  vertical-align: 50%;
  text-decoration: none;
  line-height: 90vh;
}

.landing-header:hover{
  font-family: "Londrina Solid";
  cursor: pointer;
  transform: translateY(-0.75rem);
}

/* COLORS

EXTRA LIGHT YELLOW #F7F1D2
LIGHT YELLOW #FFF9C7
DARK GREEN #415B34
LIGHT GREEN #64884E

*/

/* HEADER */

div.QC-header{
  display: grid;
  grid-template-columns: 100vw;
  background: #415B34;
  padding-top: 1em;
  padding-bottom: 0.25em;
}

a.header1{
  text-decoration: none;
  color: #FFF9C7;
}

a.header1:hover{
  color: #64884E;
}

h1{
  text-align: center;
  font-family: "Londrina Solid";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}

/* DROPDOWN NAV */

div.nav-header{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: block;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background: #415B34;
  padding-bottom: 0.5em;
}

/* CODE BELOW PROVIDED BY W3 SCHOOLS https://www.w3schools.com/css/css_dropdowns.asp */
.dropbtn {
  background-color: #415B34;
  color: #FFF9C7;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: "Londrina Solid";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Libre Franklin";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #64884E;
  min-width: 100%;
  z-index: 1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.dropdown-content a {
  color: #FFF9C7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #415B34;
  border-radius: 30px;
}

#community {
  border-radius: 30px;
}

a.community{
 text-decoration: none;
 color: #FFF9C7;
 }

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #64884E;
  border: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* END OF CODE BY W3 SCHOOLS https://www.w3schools.com/css/css_dropdowns.asp */

/* MAIN GRID */

div.main-grid-container{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-auto-rows: auto;
  border: 1px solid black;
  gap: 1em;
  margin: 20px;
}

/* LEFT CONTAINER */

div.left-margin{
  grid-column: 1/2;
}

div.left-container-img{
  align-items: center;
  grid-column: 2/3;
  padding: 1em;
  }

div.left-container-text{
  grid-column: 2/3;
  }

img.L-img, img.R-img{
  width: 94%;
  height: auto;
  margin: 1em;
  }

/* RIGHT CONTAINER */

div.right-margin{
  grid-column: 4/5;
}

div.right-container-text{
  grid-column: 3/4;
  grid-row: ;
  }

div.right-container-img{
  align-items: center;
  grid-column: 3/4;
  padding: 1em;
  }

div.R-text, div.L-text{
  max-width: 530px;
  }

/* TEXT STYLE */

p.body-copy{
   font-family: "Libre Franklin";
   font-size: 15px;
   color: #415B34;  
}

h2{
  color: #415B34;  
  font-family: "Londrina Solid";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 0.25em;
}

h3{
  color: #64884E; 
  font-family: "Londrina Solid";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  padding-top: 1em;
  padding-bottom: 0.25em;
}

h4{
  color: #64884E;  
  font-family: "Londrina Solid";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  padding-top: 1em;
  padding-bottom: 0.25em;
}

ul.body-list{
  font-family: "Libre Franklin";
  font-size: 15px;
  color: #415B34;
  list-style: disc;
  margin: 1em;
}

ul.link-list{
  font-family: "Libre Franklin";
  font-size: 15px;
  color: #415B34;
  list-style-type: "\2192";
  margin: 1em;
}

a.link-out{
  text-decoration: none;
  color: #415B34;
}

a.link-out:hover{
  color: #64884E;
  text-decoration: underline;
}

.quote {
  color: #FFF8C7;
  font-family: 'Londrina Solid';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  text-align: center;
  border: 1px solid #405B34;
  background: #405B34;
  border-radius: 37px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 1fr;
  margin: 1em auto;
}

/* NAV FOOTER */

div.nav-footer{
  display: inline-block;
  width: 100vw;
  align-content: center;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding-bottom: 1.5em;
}

a.nav-button{
  text-decoration: none;
  font-size: 18px;
  color: #415B34;
  border: 1px solid #415B34;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.25em;
}

a.nav-button:hover{
  color: #FFF8C7;
  background: #415B34;;
}

/* FOOTER */

div.footer{
  display: grid;
  grid-template-columns: 100vw;
  border: 1px solid black;
  background: #415B34;
  justify-content: center;
  padding: 1em;
  overflow: hidden;
}