/*-------------------------------CLEANED UP CODE BELOW-------------------------------*/

* {
    padding: 0;
    margin: 0;
}

body{
  background: #FFF9C7;
}

/*-----DISABLE HORIZONTAL SCROLL, HIDE VERTICAL SCROLLBAR-----*/
  /*-Code snippet by Anirban Bhui @stackoverflow-*/

  html {
      overflow: scroll;
      overflow-x: hidden;
  }
  ::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
  }

/*-----LANDING PAGE index.html-----*/

  /*-Landing Text-*/

h1 a.landing-text{
    vertical-align: 50%;
    line-height: 90vh;
  }

h1 a.landing-text:hover{
    font-family: "Londrina Solid", sans-serif;
    color: #FFF8C8; /* light-yellow */
  }

  /*-Background Image-*/
    /* Code snippet by ntgCleaner @stackoverflow */

    div#bg-img {
      background-color: #405B34;
      min-height: 100vh;
      min-width: 100vw;
      overflow: hidden;
      position: absolute;
      top: 0;
      z-index: -1;
    }

    img.landing-img {
      left: 50%;
      position: absolute;
      transform: translate(-50%, 0);
      min-height: 100%;
      min-width: 100%;
    }

/*-----HEADER-----*/

  /*-Header Text-*/

  div.QC-header{
    display: grid;
    grid-template-columns: 100vw;
    padding-top: 1em;
    padding-bottom: 0.25em;
  }

  h1 a.header-text:hover{
    color: #B8BF60; /* yellow-green */
  }

  /*-Header Navigation*/

  div.nav-header{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
    width: 100vw;
    margin: 0 auto;
    padding-bottom: 0.5em;
    text-align: center;
  }

  /*-Dropdown Menu-*/
    /* Code snippets by W3schools */

    .dropdown{
      position: relative;
      display: inline-block;
    }

    .dropbtn{
      padding: 16px;
      border: none;
      color: #FFF8C8; /* light-yellow */
      background-color: #415B34; /* mid-green-bg */
      font-family: "Londrina Solid";
      font-weight: 300;
      font-type: normal;
      font-size: 20px;
      cursor: pointer;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 100%;
      z-index: 1;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      font-family: "Libre Franklin", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16;
      background-color: #64884E; /* light-green-bg */
    }

    .dropdown-content a {
      padding: 20px 16px;
      display: block;
      color: #FFF8C8; /* light-yellow */
      text-decoration: none;
    }

    .dropdown-content a:hover {
      background-color: #415B34; /* mid-green-bg */
      border-radius: 30px;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      background-color: #64884E; /* light-green-bg */
      border: 0px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

/*-----TEXT STYLES-----*/

  /*-----Heading/Subheading Styles-----*/

  h1{
    text-align: center;
    cursor: pointer;
  }

  h1 a.landing-text{ /* LOR-400 FS-120 */
    font-family: "Londrina Outline", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFF8C8; /* light-yellow */
    text-decoration: none;
    font-size: 120px;
  }

  h1 a.header-text{ /*LSR-400 FS-50*/
    text-decoration: none;
    color: #FFF8C8; /* light-yellow */
    font-family: "Londrina Solid", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
  }

  h2{ /* LSR-400, mid-green, FS-28 */
    font-family: "Londrina Solid", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    padding-bottom: 0.25em;
  }

  h3{ /* LSL-300, light-green, FS-22 */
    font-family: "Londrina Solid", sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 300;
    line-height: 150%;
    padding-top: 1em;
    padding-bottom: 0.25em;
    color: #64894E;
  }

  h4{ /* LFB-700, light-green, FS-16 */
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    padding-top: 1em;
    padding-bottom: 0.25em;
    color: #64894E;
  }

  h5{
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    /* color: #64884E; light-green-bg */
    color: #B8BF60; /* yellow-green-bg */
  }

  /*-----Paragraph Styles-----*/

  .body-copy{ /* LFL-300, mid-green, FS-15 */
     font-family: "Libre Franklin", sans-serif;
     font-weight: 300;
     font-style: normal;
     font-size: 15px;
  }

  /*-----Asides Styles-----*/

  aside.asterix{ /* LFL-300, mid-green, FS-12 */
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
  }

  .quote{ /* LSL-300, light-yellow, mid-green-bg, FS-16 */
    font-family: 'Londrina Solid';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    border: 1px solid #64894E;
    border-radius: 37px;
    padding: 10px 70px;
    width: 1fr;
    margin: 1em auto;
    color: #FFF8C8; /* light-yellow */
    background-color: #415B34; /* mid-green-bg */
    text-align: center;
  }

  /*-Lists-*/

    /*-Text List-*/

    ul.text-list{ /* LFL-300, mid-green, FS-12 */
      list-style: disc;
      margin: 1em;
    }

    /*-Link List-*/

    ul.link-list{
      color: #415B34; /* mid-green arrow */
      list-style-type: "\2192";
      margin: 1em;
    }

    a.link-out{
      text-decoration: none;
      color: #415B34; /* mid-green */
    }

    a.link-out:hover{
      color: #64894E; /* light-green */
      text-decoration: underline;
    }

/*-----HEX COLORS STYLES-----*/

   /*-YELLOW-*/

    /* Light Yellow */

    .light-yellow{
      color: #FFF8C8;
    }

    .light-yellow-bg{
      background-color: #FFF8C8;
    }

    /*-GREEN-*/

      /*-Light Green-*/

      .light-green{
        color: #64894E;
      }

      .light-green-bg{
        background-color: #64894E;
      }

      /*-Mid Green-*/

      .mid-green{
        color: #415B34;
      }

      .mid-green-bg{
        background-color: #415B34;
      }

/*-----TEXT ALIGN STYLES-----*/

.TA-center{
  text-align: center;
}

/*-----TEXT DECORATION STYLES-----*/

.TDECO-none{
  text-decoration: none;
}

/*-----GRIDS-----*/

  /*-MAIN HALF SPLIT GRID CONTAINER-*/

  div.main-grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-auto-rows: auto;
    gap: 1em;
    margin: 20px;
  }

    /* Margins */

      div.left-margin{
        grid-column: 1/2;
      }

      div.right-margin{
        grid-column: 4/5;
      }

    /* Text */

    div.left-container-text{
      grid-column: 2/3;
    }

    div.right-container-text{
      grid-column: 3/4;
    }

    div.body-copy-width{
      max-width: 530px;
    }

    /* Images */

    div.left-container-img{
      align-items: center;
      grid-column: 2/3;
      padding: 1em;
    }

    div.right-container-img{
      align-items: center;
      grid-column: 3/4;
      padding: 1em;
    }

    img.img-size{
      width: 94%;
      height: auto;
      margin: 1em;
    }

  /*-ALTERNATIVE CENTERED GRID-*/

  div.alt-grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: auto;
    gap: 1em;
    margin: 20px;
  }

  div.alt-mid-container{
    grid-column: 2/3;
  }

    /* Right Alt Margin */

    div.right-alt-margin{
      grid-column: 3/4;
    }

/*-----DECORATIVE-ELEMENTS-----*/

.horizontal-line{
  width: 100%;
  height: 1px;
  border-top: 1px solid #A6C98F;
  margin: 0.75em 0;
}

.horizontal-line-02{
  width: 80%;
  height: 1px;
  border-top: 1px solid #B8BF60; /* yellow-green-bg */
  margin: 0.5em 0;
}

/*-----CONTACT-BUTTON-----*/

  input[type=submit] {
  width: 30%;
  height: auto;
  font-family: "Londrina Solid";
  font-size: 18px;
  font-weight: 300;
  margin: 20px;
  color: #FFF8C8; /* light-yellow */
  background-color: #64894E; /* light-green */
  padding: 14px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #B8BF60; /* yellow-green-bg */
  color: #415B34; /* mid-green */
}

/*-----COLLAPSIBLE-TIPS-SECTION-----*/
  /* Code snippets by GREATSTACK @YOUTUBE */

  .accordion{
    width: 100%;
    height: auto;
  }

  .accordion li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #415B34; /* mid-green */
    color: #FFF9C7;
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }

  .accordion li:hover{
    background-color: #64894E; /* light-green */
    color: #FFF9C7;
  }

  .accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }

  label.acc::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
  }

  input[type="radio"]{
    display: none;
  }

  .accordion .content{
    color: #415B34; /* mid-green */
    background-color: #FFF9C7; /* light-yellow */
    padding: 0px 10px;
    line-height: 26px;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms, padding 500ms;
  }

  .accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 12px 10px 12px;
  }

  .accordion input[type="radio"]:checked + label::before{
    content: '-';
  }

/*-----BOTTOM-NAVIGATION-----*/

a.nav-button{
  text-decoration: none;
  font-size: 18px;
  color: #64894E; /* light-green */
  border: 1px solid #64894E;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.25em;
  cursor: pointer;
  align-items: center;
}

a.nav-button:hover{
  color: #415B34; /* mid-green */
  background-color: #B8BF60; /* yellow-green */
  border: 1px solid #B8BF60;
}

div.nav-footer{
  display: inline-block;
  width: 100vw;
  align-content: center;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding-bottom: 1.5em;
}

/*-----EMBED-VIDEO-IFRAME-----*/

iframe{
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  }


/*-----FOOTER-----*/

div.footer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  background: #415B34;
  justify-content: center;
  padding: 3em;
  overflow: hidden;
}

.foot-margin-01{
  grid-column: 1/2;
  padding-left: 3em;
}

.foot-margin-02{
  grid-column: 2/3;
  text-align: center;
}

.foot-margin-03{
  grid-column: 3/4;
  text-align: left;
}

.foot-margin-04{
  grid-column: 4/5;
  text-align: left;
}

.foot-margin-05{
  grid-column: 5/6;
}

img.foot-img{
  width: 75%;
  height: auto;
}

a.foot-nav{
  text-decoration: none;
  color: #64884E; /* light-green-bg */
  font-family: "Libre Franklin", sans-serif;
  font-type: normal;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

a.foot-nav:hover{
  color: #B8BF60; /* yellow-green */
}

/*-----COLLAPSE VIDEOS ATTEMPT-----*/
  /* Code snippets by Code Boxx on Youtube */

  /* Hide Checkbox */
  #vid01, #vid02{ 
    display: none 
  }

  /* Style */
  #togL, #content { 
    display: block;
    width: 95%; 
    padding: 10px 15px;
  }

  #togL{
    background-color: #64884E; /* light-green-bg */
    color: #FFF8C8; /* light-yellow */
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border-top: 5px solid #FFF8C8; /* light-yellow */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
  }

  #togL:hover{
    background-color: #415B34; /* mid-green */
  }

  #content{
    background-color: #415B34; /* mid-green */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  /* Hide div content */
  #content{ 
    display: none;
  }

  /* Only show when checked */
  #vid01:checked + #content { display: block; }

  #vid02:checked + #content { display: block; }

  /*-----WORKS CITED LIST-----*/

  a.source-link{
    text-decoration: none;
    color: #415B34; /* mid-green */
    cursor: pointer;
  }

  a.source-link:hover{
    text-decoration: underline;
  }

  p.source-text{
    line-height: 170%;
  }

  ul.source-list{
    /* list-style-type: U+2605;*/
    list-style-type: "\FF0A";
    margin-left: 1em;
  }

/*-----TRANSITIONS-----*/

  img.foot-img:hover{
    transform: rotate(-15deg);
    cursor: pointer;
    transition: 500ms ease;
  }

  img.foot-img{
    transition: 500ms ease;
    }

